* {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

html, body {
  width: 100%;
  min-height: 100% !important;
  height: 100%;
}

body {
  background-image:url('/static/img/bg.jpg');
  background-color: #527A00;
  background-attachment: fixed;
  height: 100%;
}

body.snows {
  background-image: none;
  background-color: #339933;
}

header {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

h3 {
  font-weight: 400;
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  margin: 20px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.clearfix {
  clear: both;
}

.loading {
  display: none;
}

.small {
  font-size: 0.6em;
}

/** Navigation animation http://dfsq.github.io/ngView-animation-effects/app/#/code */
.page {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

.page.ng-enter,
.page.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.page.ng-enter {  
  opacity: 0;
}

.page.ng-enter-active {
  opacity: 1;
}

.page.ng-leave {
  opacity: 1;
}

.page.ng-leave-active {
  display: none;
  opacity: 0;
}
/** End of navigation animation */

.content {
  width: 60%;
  /*height: 100%;*/
  min-height:100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); /*#c0c0c0;*/
  background-color: rgb(240,240,240);
}

.announcement {
  border: 1px solid;  
  background-color: #D8E3F6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 0 5px #c0c0c0;
}

.announcement.info {
  border-color: #01A462;
  background-color: #DCEDC8;
}

.announcement span {
  font-size: 18px;
  font-weight: 700px;
}

.announcement a {
  color: #9999CF;
  text-decoration: underline;
}

/** Up arrow */
#up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#up i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#up:hover {
    background: rgba(0, 0, 0, 0.9);
}
#up:hover i {
    color: #fff;
    top: 5px;
}

img.beta {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

/** Dropdown **/
.dropdown {
  position: absolute;
  background-color: #ffffff;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 0 5px #c0c0c0;
}

.dropdown li {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 4px;
  padding: 10px;
}

.dropdown li:hover {
  background-color: #9999CF;
}

.dropdown li:hover a {  
  color: #ffffff;
}

/** Info **/
#info {
  display: inline-block;
  float: left;
  padding-right: 15px;
  margin-bottom: 20px;
}

.location {
  font-size: 0.8em;
  line-height: 1.5em;
}

#info .pic {
  height: 160px;
  width: 150px;
  padding: 2px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #c0c0c0;
  margin-bottom: 10px;
}
/** End Info **/

/** Nav icon **/
/** Credits to: http://w3bits.com/demo/animated-menu-icon-css/ **/
.nav-icon {
  width: 16px;
  display: inline-block;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: #6666CC;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 3px 0 0 0;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.nav-icon.active:before {
  -webkit-transform: translateY(5px) rotate(135deg);
     -moz-transform: translateY(5px) rotate(135deg);
          transform: translateY(5px) rotate(135deg);
}

.nav-icon.active:after {
  -webkit-transform: translateY(-5px) rotate(-135deg);
     -moz-transform: translateY(-5px) rotate(-135deg);
          transform: translateY(-5px) rotate(-135deg);
}

.nav-icon.active div {
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
          transform: scale(0);
}
/** End Nav icon **/

/** Navigation menu **/
#nav-toggle-menu {
  display: none;
}

#nav-menu {
  margin-bottom: 10px;
  line-height: 1.2em;
  font-size: 1em;
}

#nav-menu ul {
  list-style-type: square;
}

#nav-menu li {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}

#nav-menu li sup {
  font-size: .75em;
  position: relative;
  top: -0.5em;
  color: rgba(255, 0, 0, .9);
}

#nav-menu li:hover, #nav-menu li.active {
  background-color: #D0D0D0;
  box-shadow: 2px 2px 0 #c0c0c0 inset;
}

#nav-menu li:hover a, #nav-menu li.active a {
  color: #B8860B;
}

#nav-menu a {
  color: #6666CC;
}

/** End of Navigation menu **/

/** Admin navigation menu **/
#nav-admin-menu {
  top: -50px;
  opacity: 0; /** Don't show initialay **/
  position: fixed;
  padding: 5px;
  background-color: #000;  
  width: 100%;
  height: auto;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: .8em;
  z-index: 999999;
}

#nav-admin-menu li {
  opacity: 1;
  display: inline-block;  
  padding: 10px;
  border-right: 1px solid #c0c0c0;
}

#nav-admin-menu li:last-child {
  border: none;
}

#nav-admin-menu a {
  color: #ffffff;    
}

/** End of Admin Navigation menu

/** Quotes **/
#quotes {
  text-align: center;  
  overflow: hidden;
  width: auto;
  line-height: 4em;  
}


/** Quotes carousel **/
.quotes-control {
  margin: 0 15px;
  text-shadow: 0 2px 5px #c0c0c0;
}

/** Thanks to http://agelber.com/blog/looping-carousel/ **/

.quotes-control i:hover {
  -webkit-transform: scale(1.2, 1.2); /* Chrome, Safari, Opera */
     -moz-transform: scale(1.2, 1.2);  
      -ms-transform: scale(1.2, 1.2); /* IE 9 */  
       -o-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: -webkit-transform 0.1s linear; /* For Safari 3.1 to 6.0 */
     -moz-transition: -moz-transform 0.1s linear;
       -o-transition: -o-transform 0.1s linear;
          transition: transform 0.1s linear;
}

.quotes-carousel {
  position: relative;
  list-style: none; 
  width: 80%;
  height: 80px;
  margin: 5px auto;
  margin-bottom: 20px;
}

.quotes-carousel > li {
  position: absolute;  
  text-align: center;
  line-height: 1.4em;
}

.quotes-carousel > li:not(.active) {
  display: none;
}

/** Animation **/
.quotes-carousel > li.next-in {
  -webkit-animation: next-in 0.5s;
     -moz-animation: next-in 0.5s;
       -o-animation: next-in 0.5s;
          animation: next-in 0.5s;
}

.quotes-carousel > li.next-out {
  -webkit-animation: next-out 0.5s;
     -moz-animation: next-out 0.5s;
       -o-animation: next-out 0.5s;
          animation: next-out 0.5s;
}

.quotes-carousel > li.prev-in {
  -webkit-animation: prev-in 0.5s;
     -moz-animation: prev-in 0.5s;
       -o-animation: prev-in 0.5s;
          animation: prev-in 0.5s;
}

.quotes-carousel > li.prev-out {
  -webkit-animation: prev-out 0.5s;
     -moz-animation: prev-out 0.5s;
       -o-animation: prev-out 0.5s;
          animation: prev-out 0.5s;
}

/** Hoops specific styles **/
#hoops h3, #hoops h4 {
  padding: 10px 0;
}

#hoops #fiba-archive {
  padding: 10px 0;
}
  
@-webkit-keyframes next-in {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-mox-keyframes next-in {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-o-keyframes next-in {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes next-in {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-webkit-keyframes next-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }  
}

@-moz-keyframes next-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }  
}

@-o-keyframes next-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }  
}

@keyframes next-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@-webkit-keyframes prev-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-moz-keyframes prev-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-o-keyframes prev-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes prev-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-webkit-keyframes prev-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@-moz-keyframes prev-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@-o-keyframes prev-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes prev-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
/** End of Animation **/

blockquote {
  font-family: 'Roboto-Condensed', sans-serif;
  font-style: italic;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

cite {
  padding: 20px 0;
  font-size: 0.8em;
}

a.quotes-indicators {
  margin-top: 20px;
  color: rgba(0, 0, 0);
  text-decoration: none;
  font-size: 0.7em;
  padding: 0 2px;
  -webkit-transition: color 500ms ease-out 0.2s;
  -moz-transition: color 500ms ease-out 0.2s;
  -o-transition: color 500ms ease-out 0.2s;
  transition: color 500ms ease-out 0.2s;
}

a.quotes-indicators {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

a.quotes-indicators.current { 
  color: #6666CC;  
}
/** End of Quotes carousel **/
/** End of Quotes **/

/** Skills **/
.skills-enumerate {
  margin: 20px 0;
}

.skills-enumerate li {
  line-height: 1.5em;
}

.skills-enumerate section {
  margin: 10px 0;
  padding-left: 10px;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', sans-serif;
}

.skills-enumerate section ul {
  margin-top: 10px;  
  text-align: justify;
}

.skills-enumerate span {
  padding-left: 10px;
}

a.skills-title {
  color: #9999FF;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 1px #9999FF dashed;
}

.skills-approve {
  padding-left: 10px;
}

.skills-links a {
  color: #9999FF;
}
/** End of skills **/

/** Tabs **/
#tabs .tab {
  display: inline-block;
  padding: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ffffff;
  margin-right: 10px;
  border-bottom: 1px solid #F0F0F0;
}

#tabs .tab:hover {
  background-color: #9999FF;
}

#tabs .tab:hover > a {
  color: #ffffff;
}

#tabs .tab.active {
  padding-bottom: 21px;
  border: none;
}

#tabs .tab.active > a {
  font-weight: 400;  
}

#tabs .tab.active:hover {
  padding-bottom: 21px;
  background-color: #ffffff;
}

#tabs .tab.active:hover > a {
  color: #000000;
}

#tabs .tab-content {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  top: -15px;
  padding: 20px;
}

/** Experience & education **/
#experience, #education {
  display: block;
}

#experience section,
#education section {
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 2em;
  border-bottom: 1px dotted #c0c0c0;
}

#experience section:last-of-type,
#education section:last-of-type {
  border: none;
  padding-bottom: 0; 
  margin-bottom: 0; 
}

.period {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}

.company, .school {
  font-weight: 400;
}

.school img {
  vertical-align: middle;
}

.school span {
  vertical-align: middle;
}

.summary {  
  font-family: 'Roboto Condensed', sans-serif;
}
/** End Education & Experience **/

/** Contacts **/
#contacts ul {
  text-shadow: 0 0 5px #c0c0c0;
  width: 100%;
  margin: 0 auto;
}

#contacts i {
  font-size: 2em;
}

#contacts ul p {
  font-family: 'Roboto Condensed', sans-serif;
}

#contacts ul li {
  display: inline-block;
  text-align: center;
  padding: 15px;
  border-right: 1px solid #c0c0c0;
}

#contacts ul li:last-of-type {
  border: none;
}

/** End Contacts **/

/** Skills Edit **/
#skills-edit section {
  margin: 20px 0;
  line-height: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  border-radius: 3px solid #c0c0c0;
  box-shadow: 0 0 5px #c0c0c0;
}

.skill-control {
  padding: 0 7px;
}

#skills-edit h3 {  
  font-family: 'Roboto', sans-serif;
}

#skills-edit a {
  font-family: 
}

/** Form **/
fieldset {
  padding: 8px 0;
}

.btn,
input, 
textarea { 
  padding: 9px; 
  border: solid 1px #E5E5E5; 
  outline: 0; 
  font: normal 14px / 100% 'Roboto Condensed', sans-serif; 
  width: 200px; 
  background: #FFFFFF; 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE, 1px, #FFFFFF 25px); 
} 
   
textarea { 
  width: 90%; 
  height: 150px; 
  line-height: 1.5em; 
} 
  
.btn:hover, .btn:focus, 
input:hover, textarea:hover, 
input:focus, textarea:focus { 
  border-color: #C9C9C9; 
} 
 
.email-form label,
.link-form label,  
.skill-form label,
.skill-form p.links { 
  display: block;
  margin-bottom: 10px;   
  color: #999999; 
} 

.skill-link {
  padding: 10px;
  border-radius: 3px solid #c0c0c0;
  box-shadow: 0 0 5px #c0c0c0;
  margin-bottom: 10px;
}
   
.email-submit input,
.link-submit input,
.skill-submit input { 
  width: auto; 
  padding: 9px 15px; 
  background: #617798; 
  border: 0; 
  font-size: 14px; 
  color: #FFFFFF; 
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: green;
}

/** End Skills Edit **/

.right {
  display: block;
  float: right;
}

.left {
  display: block;
  float: left;
}

/** Animate **/
.animate-show {
  line-height:20px;
  -webkit-transition:all linear 0.2s;
  opacity: 1;
  transition:all linear 0.2s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

.animate-show.ng-hide {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  opacity: 0;
  line-height: 0px;
}
/** End of animate **/

/** Toaster **/
#toast-container {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2em;
}
/** End Toaster **/

/** Hoops **/
#hoops p {
  padding: 15px 0;
}

iframe[id^='twitter-widget-']{ width:100% !important;}

.fiba-animate {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
}

.fiba-animate.ng-hide-add.ng-hide-add-active,
.fiba-animate.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.fiba-animate.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

#fiba-archive a {
  color:  #9999CF;
  font-size: 12px;
  border-bottom: 1px dotted #c9c9c9;
}

/** End Hoops **/

/** Footer **/
.footer {
  border-top: 1px solid #c9c9c9;  
  padding-top: 10px;
  width: 100%;
  margin: 10px 0 auto;
  line-height: 1.5em;
  font-size: 0.6em;
}

.footer a {
  color: #9999FF;
  text-decoration: underline;
}

/** Snow **/
canvas.snow {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px)
and (max-width : 600px) {
  #nav-toggle-menu {
    margin-bottom: 20px;
    display: block;
  }

  #nav-menu > ul {
    display: none;
  }

  #nav-menu li {
    display: block;
    border-bottom: 1px dotted #c0c0c0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #nav-menu li:hover,
  #nav-menu li.active {
    border-radius: 5px;
    border-bottom: none;
  }

  .content {
    position: relative;
    width: auto;    
  }

  #info {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  textarea {
    width: 90%;    
  }

  #quotes {
    clear: both;
    overflow: none;
    display: block;
  }

  .quotes-carousel {
    width: 70%;
  }

  hr {
    margin: 10px auto;
  }

  .school span {
    display: block;   
  }
}
