* {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: auto;
}

body {
  background-image:url('/static/img/bg.jpg');
  height: 100%;
}

header {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

h3 {
  font-weight: 400;
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  margin: 20px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.clearfix {
  clear: both;
}

.loading {
  display: none;
}

.small {
  font-size: 0.6em;
}

.content {
  width: 60%;
  height: 100%;
  min-height:100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  padding: 15px;
  box-shadow: 0px 0px 10px #c0c0c0;
  background-color: rgb(240,240,240);
}

/** Up arrow */
#up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#up i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#up:hover {
    background: rgba(0, 0, 0, 0.9);
}
#up:hover i {
    color: #fff;
    top: 5px;
}

img.beta {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

/** Dropdown **/
.dropdown {
  position: absolute;
  background-color: #ffffff;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  box-shadow: 0 0 5px #c0c0c0;
}

.dropdown li {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
}

.dropdown li:hover {
  background-color: #9999CF;
}

.dropdown li:hover a {  
  color: #ffffff;
}

/** Info **/
#info {
  display: inline-block;
  float: left;
  padding-right: 15px;
  margin-bottom: 20px;
}

.location {
  font-size: 0.8em;
  line-height: 1.5em;
}

#info img {
  padding: 2px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #c0c0c0;
  margin-bottom: 10px;
}
/** End Info **/

/** Quotes **/
#quotes {
  text-align: center;  
  overflow: hidden;
  width: auto;
  line-height: 4em;  
}

.quotes-control {
  margin: 0 15px;
  text-shadow: 0 2px 5px #c0c0c0;
}

.quotes-carousel {
  position: relative;
  width: 80%; 
  margin: 0 auto;
  height: 80px;  
}

.quotes-carousel section {  
  position: absolute;
  width: auto;
}

.quotes-item {
  line-height: 1.2em;
}

.quotes-item cite {
  font-size: 0.8em;
  font-style: italic;
}

/** Animate quotes appereance **/
.quotes-item.animate {
  opacity: 1;
}

.quotes-item.animate.ng-hide-add, 
.quotes-item.animate.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.quotes-item.animate.ng-hide {
  margin-right: -100%;
  opacity: 0;
}
/** End animate quote appereance **/

a.quotes-indicators {
  margin-top: 20px;
  color: #000000;
  text-decoration: none;
  font-size: 0.5em;
}

a.quotes-indicators.current {
  color: #6666CC;
}
/** End of Quotes **/

/** Skills **/
.skills-enumerate {
  margin: 20px 0;
}

.skills-enumerate li {
  line-height: 1.5em;
}

.skills-enumerate section {
  margin: 10px 0;
  padding-left: 10px;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', sans-serif;
}

.skills-enumerate section ul {
  margin-top: 10px;  
  text-align: justify;
}

.skills-enumerate span {
  padding-left: 10px;
}

a.skills-title {
  color: #9999FF;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 1px #9999FF dashed;
}

.skills-approve {
  padding-left: 10px;
}

.skills-links a {
  color: #9999FF;
}
/** End of skills **/

/** Tabs **/
#tabs .tab {
  display: inline-block;
  padding: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ffffff;
  margin-right: 10px;
  border-bottom: 1px solid #F0F0F0;
}

#tabs .tab:hover {
  background-color: #9999FF;
}

#tabs .tab:hover > a {
  color: #ffffff;
}

#tabs .tab.active {
  padding-bottom: 21px;
  border: none;
}

#tabs .tab.active > a {
  font-weight: 400;  
}

#tabs .tab.active:hover {
  padding-bottom: 21px;
  background-color: #ffffff;
}

#tabs .tab.active:hover > a {
  color: #000000;
}

#tabs .tab-content {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  top: -15px;
  padding: 20px;
}

/** Experience & education **/
#experience, #education {
  display: block;
}

#experience section,
#education section {
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 2em;
  border-bottom: 1px dotted #c0c0c0;
}

#experience section:last-of-type,
#education section:last-of-type {
  border: none;
  padding-bottom: 0; 
  margin-bottom: 0; 
}

.period {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}

.company, .school {
  font-weight: 400;
}

.school img {
  vertical-align: middle;
}

.school span {
  vertical-align: middle;
}

.summary {  
  font-family: 'Roboto Condensed', sans-serif;
}
/** End Education & Experience **/

/** Contacts **/
#contacts ul {
  text-shadow: 0 0 5px #c0c0c0;
  width: 100%;
  margin: 0 auto;
}

#contacts i {
  font-size: 2em;
}

#contacts ul p {
  font-family: 'Roboto Condensed', sans-serif;
}

#contacts ul li {
  display: inline-block;
  text-align: center;
  padding: 15px;
  border-right: 1px solid #c0c0c0;
}

#contacts ul li:last-of-type {
  border: none;
}

/** End Contacts **/

/** Skills Edit **/
#skills-edit section {
  margin: 20px 0;
  line-height: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  border-radius: 3px solid #c0c0c0;
  box-shadow: 0 0 5px #c0c0c0;
}

.skill-control {
  padding: 0 7px;
}

#skills-edit h3 {  
  font-family: 'Roboto', sans-serif;
}

#skills-edit a {
  font-family: 
}

/** Form **/
fieldset {
  padding: 8px 0;
}

.btn,
input, 
textarea { 
  padding: 9px; 
  border: solid 1px #E5E5E5; 
  outline: 0; 
  font: normal 14px / 100% 'Roboto Condensed', sans-serif; 
  width: 200px; 
  background: #FFFFFF; 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE, 1px, #FFFFFF 25px); 
} 
   
textarea { 
  width: 90%; 
  height: 150px; 
  line-height: 1.5em; 
} 
  
.btn:hover, .btn:focus, 
input:hover, textarea:hover, 
input:focus, textarea:focus { 
  border-color: #C9C9C9; 
} 
 
.email-form label,
.link-form label,  
.skill-form label,
.skill-form p.links { 
  display: block;
  margin-bottom: 10px;   
  color: #999999; 
} 

.skill-link {
  padding: 10px;
  border-radius: 3px solid #c0c0c0;
  box-shadow: 0 0 5px #c0c0c0;
  margin-bottom: 10px;
}
   
.email-submit input,
.link-submit input,
.skill-submit input { 
  width: auto; 
  padding: 9px 15px; 
  background: #617798; 
  border: 0; 
  font-size: 14px; 
  color: #FFFFFF; 
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: green;
}

/** End Skills Edit **/

.right {
  display: block;
  float: right;
}

.left {
  display: block;
  float: left;
}

/** Animate **/
.animate-show {
  line-height:20px;
  -webkit-transition:all linear 0.2s;
  opacity: 1;
  transition:all linear 0.2s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

.animate-show.ng-hide {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  opacity: 0;
  line-height: 0px;
}
/** End of animate **/

/** Toaster **/
#toast-container {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2em;
}
/** End Toaster **/

/** Footer **/
.footer {
  border-top: 1px solid #c9c9c9;  
  padding-top: 10px;
  width: 100%;
  margin: 10px 0 auto;
  line-height: 1.5em;
  font-size: 0.6em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .content {
    width: auto;    
  }

  #info {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  textarea {
    width: 90%;    
  }

  #quotes {
    clear: both;
    overflow: none;
    display: block;
  }

  .quotes-carousel {
    width: 70%;
  }

  hr {
    margin: 10px auto;
  }

  .school span {
    display: block;   
  }
}
