/** Typicons **/
@import url(http://weloveiconfonts.com/api/?family=typicons);

button.restore,
button.destroy, 
button.purge,
input[type="checkbox"] {
  outline: none;
  background: none;
  -webkit-box-shadow: none;
     -mox-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

button.restore,
button.destroy,
button.purge {
  background: none;
  border: none;
}

#new-goal {
  width: 90%;
}

.goals-desc {
  margin: 20px auto;
  text-align: center;
}

#goals-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#goals-list li {
  position: relative;
  font-size: 18px;
  border-bottom: 1px dotted #ccc;
}

#goals-list li:last-child {
  border-bottom: none;
}

#goals-list li.editing .goal-view {
  display: none;
}

#goals-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  /* Mobile Safari */
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#goals-list li .toggle:after {
  content: '✔';
  /* 40 + a couple of pixels visual adjustment */
  line-height: 43px;
  font-size: 18px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

#goals-list li .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

#goals-list li label {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  white-space: pre;
  word-break: break-word;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

#goals-list li.done label {
  color: #a9a9a9;
  text-decoration: line-through;
}

#goals-list li .edit {
  display: none;
}

#goals-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

#goals-list li.disabled {
  border: none;
  color: #ffffff;
  background-color: #FF3333;
  box-shadow: 0 0 4px rgb(136,0,0);
  margin: 5px 0;
}

#goals-list li .purge,
#goals-list li .destroy, 
#goals-list li .restore {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#goals-list li .restore {
  right: 45px;
}

#goals-list li .purge,
#goals-list li .restore {
  color: #c0c0c0;
}

#goals-list li .purge:hover, 
#goals-list li .destroy:hover, 
#goals-list li .restore:hover {
  text-shadow: 0 0 1px #000,
         0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#goals-list li .purge:before {  
  content: ']';
  font-family: 'Typicons', sans-serif;
}

#goals-list li .restore:before {  
  content: '@';
  font-family: 'Typicons', sans-serif;
}

#goals-list li .destroy:after {
  content: '✖';
}

#goals-list li:hover .purge,
#goals-list li:hover .destroy,
#goals-list li:hover .restore {
  display: block;
}
