{% extends 'layout.html' %}
{% block title %}Goals{% endblock %}
{% block ext_head %}
<link href="/static/css/goals.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<h3>My Goals</h3>
<p class="goals-desc">Feel free to suggest me a goal :)</p>
<div id="goals" ng-controller="GoalsCtrl">
  <form id="goal-form" ng-submit="addGoal()">
    <input id="new-goal" placeholder="Suggest me a goal" ng-model="newGoal" autofocus>
  </form>  
  <ul id="goals-list" ng-show="goals.length">    
    <li ng-repeat="goal in goals" ng-class="{ done: goal.done, editing: goal == editedGoal }">
      <div class="goal-view">
        <input class="toggle" type="checkbox" ng-model="goal.done" ng-change="accomplish(goal)">
        <label ng-dblclick="editGoal(goal)">{{ goal.title}}</label>
        <button class="destroy" ng-click="removeGoal(goal)"></button>
      </div>
      <form ng-submit="doneEditing(goal)">
        <input class="edit" ng-trim="false" ng-model="goal.title" goal-escape="revertEditing(goal)" goal-focus="goal == editedGoal">
      </form>
    </li>
  </ul>
</div>
{% endblock %}