{% extends 'layout.html' %}
{% set active_page = 'goals' -%}
{% block title %}Goals{% endblock %}
{% block ext_head %}
<link href="/static/css/goals.{% if not DEBUG %}min.{% endif %}css" rel="stylesheet" type="text/css" />
<style>
  html, body {
    height: 100%;
  }
  
  .content {
    height: 100%;
  } 
</style>
{% endblock %}
{% block content %}
<h3>Goals</h3>
<div id="goals" ng-controller="GoalsCtrl"> 
  <ul id="goals-list" ng-show="goals.length">    
    <li ng-repeat="goal in goals" ng-class="{ done: goal.done }" ng-show="goal.enabled">
      <div class="goal-view">
        <input class="toggle" type="checkbox" ng-model="goal.done" disabled="disabled">
        <label>{{ goal.title}}</label>        
      </div>
    </li>
  </ul>
</div>
{% endblock %}