{% extends 'layout.html' %}
{% set active_page = 'hoops' -%}
{% block title %}Hoops | FIBA 2014{% endblock %}
{% block ext_head %}
<style type="text/css">
  iframe[id^='twitter-widget-']{ width:100% !important;}
</style>
{% endblock %}
{% block content %}
<div id="hoops">
  <h3>FIBA 2014 World Cup</h3>
  <p>August 30, 2014 &ndash; September 14, 2014</p>
  <iframe width="100%" height="73px" frameborder="0" src="http://www.fiba.com/ls/index_header.html#6241" scrolling="no" border="0"></iframe>
  <div class="addthis_sharing_toolbox"></div>
  <div id="embed_video">
    <iframe title="YouTube video player" id="youtube_player" class="youtube-player" type="text/html" width="100%" height="390" src="//www.youtube.com/embed/?listType=playlist&list=PL3F5E46D10350CB57&amp;enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
  </div>  
  <a class="twitter-timeline" href="https://twitter.com/hashtag/fiba2014" data-widget-id="505610606766866432" width="100%"data-chrome="noborders transparent">#fiba2014 Tweets</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
</div>
{% endblock %}
{% block ext_js %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52007dfc1b7da562"></script>
{% endblock %}
