<div id="quotes" ng-show="quotes.length">
  <h3>Favourite Quotes</h3>
  <!-- Controls -->
  <a href="javascript:void(0);" class="left quotes-control" ng-click="prevQuote()">
    <i class="fa fa-angle-left fa-2x"></i>
  </a>
  <a href="javascript:void(0)" class="right quotes-control" ng-click="nextQuote()">
    <i class="fa fa-angle-right fa-2x"></i>
  </a>
  <!-- Quotes content -->
  <ul class="quotes-carousel">
    <li ng-repeat="quote in quotes" ng-class="{ active: isCurrent($index) }">      
      <blockquote><p>{{ quote.content }}</p></blockquote>
      <cite>&mdash; {{ quote.author }}</cite>
    </li>    
  </ul>
  <!-- Indicators -->
  <div>
    <a href="javascript:void(0)" ng-repeat="quote in quotes" class="quotes-indicators" ng-class="{ current: isCurrent($index) }" ng-click="selectQuote($index)">
      <i class="fa fa-circle" ></i>
    </a>
  </div>
</div>