<hr />
<div id="skills">
  <h3>Skills</h3>
  <div class="skills-enumerate">
    <ul>
      <li ng-repeat="skills in skillsCtrl.skills | orderBy:order">
        <a class="skills-title" href="javascript:void(0);" ng-click="skillsCtrl.showDescription($index)">{{ skills.title }}</a><a class="skills-approve" href="javascript:void(0);" ng-click="skillsCtrl.approve($index)"><i class="fa fa-plus"></i></a><span>{{ skills.approved }}</span>
        <section ng-show="skillsCtrl.isShown($index);" class="animate-show">
          {{ skills.desc }}
          <ul class="skills-links" ng-show="skills.links.length">
            <p>Check out:</p>
            <li ng-repeat="link in skills.links"><a href="{{ link.url }}">{{ link.title }}</a></li>
          </ul>
        </section>
      </li>
    </ul>
  </div>
</div>