<hr />
<div id="skills">
  <h3>Skills</h3>
  <div class="skills-enumerate">
    <ul>
      <li ng-repeat="skill in skills | orderBy:order">
        <a class="skills-title" href="javascript:void(0);" ng-click="showDescription($index)">{{ skill.title }}</a><a class="skills-approve" href="javascript:void(0);" ng-click="approve(skill)"><i class="fa fa-plus"></i></a><span>{{ skill.approved }}</span>
        <section ng-show="isShown($index);" class="animate-show">
          {{ skill.desc }}
          <ul class="skills-links" ng-show="skill.links.length">
            <p>Check out:</p>
            <li ng-repeat="link in skill.links"><a href="{{ link.url }}">{{ link.title }}</a></li>
          </ul>
        </section>
      </li>
    </ul>
  </div>
</div>